In [ ]:
SELECT 
    s.SZOBA_ID,
    COUNT(f.FOGLALAS_PK) AS foglalasok_szama
FROM 
    SZOBA s
LEFT JOIN 
    FOGLALAS f ON s.SZOBA_ID = f.SZOBA_FK
GROUP BY 
    s.SZOBA_ID
ORDER BY 
    s.SZOBA_ID;

:

In [ ]:
SELECT TOP 1
    v.USERNEV,
    v.NEV,
    v.EMAIL,
    v.SZAML_CIM,
    v.SZUL_DAT
FROM 
    VENDEG v
JOIN 
    FOGLALAS f ON v.USERNEV = f.UGYFEL_FK
JOIN 
    SZOBA s ON s.SZOBA_ID = f.SZOBA_FK
WHERE 
    s.FEROHELY = (SELECT MAX(FEROHELY) FROM SZOBA WHERE KLIMAS = 'i')
    AND s.KLIMAS = 'i'
ORDER BY 
    s.FEROHELY DESC;

:

In [ ]:
SELECT 
    V.USERNEV as Vendeg_Azonosito,
    V.NEV as Vendeg_Nev,
    V.SZUL_DAT as Szuletesi_Datum,
    MIN(F.METTOL) as Elso_Foglalas_Datuma,
    MAX(F.METTOL) as Utolso_Foglalas_Datuma
FROM 
    VENDEG V
JOIN 
    FOGLALAS F ON V.USERNEV = F.UGYFEL_FK
GROUP BY 
    V.USERNEV, V.NEV, V.SZUL_DAT

:

In [ ]:
SELECT 
    SZOBA_FK,
    METTOL,
    COUNT(*) AS foglalasok_szama
FROM 
    Foglalas
GROUP BY 
    SZOBA_FK, METTOL
HAVING 
    COUNT(*) >= 2
ORDER BY 
    SZOBA_FK, METTOL;

In [ ]:
SELECT 
    COUNT(DISTINCT FEROHELY) AS KulonbozoErtekekSzama,
    MIN(FEROHELY) AS MinimumFerohely,
    MAX(FEROHELY) AS MaximumFerohely,
    AVG(FEROHELY) AS AtlagFerohely,
    (COUNT(FEROHELY) * 100.0 / COUNT(*)) AS SzazalekNemNull,
    (100.0 * SUM(CASE WHEN FEROHELY IS NULL THEN 1 ELSE 0 END) / COUNT(*)) AS SzazalekNull
FROM 
    SZOBA;

:

In [ ]:
HSET IRO:1 ID 1 nev "Jókai Mór" nemzetiseg "Magyar"
HSET IRO:2 ID 2 nev "Jane Austen" nemzetiseg "Angol"

HSET KONYV:1 ID 1 cim "Az arany ember" mufaj "Regény" IRO_ID 1
HSET KONYV:2 ID 2 cim "Büszkeség és balítélet" mufaj "Regény" IRO_ID 2


# Összes író lekérdezése

HGETALL IRO:1 HGETALL IRO:2 

# Összes könyv lekérdezése

HGETALL KONYV:1 HGETALL KONYV:2

In [ ]:
CREATE TABLE STUDENT (
    ID int PRIMARY KEY,
    Nev text,
    Teljesitett_felevek list<int>,
    Eredmenyek map<int, float>,
    Nyelvtudas set<text>
);

INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas) VALUES (
    1,
    'Kovács Béla',
    [1, 2, 3],
    {1: 3.00, 2: 4.55, 3: 4.10},
    {'angol', 'német'}
);

INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas) VALUES (
    2,
    'Nagy Eszter',
    [1, 2, 3],
    {1: 3.50, 2: 4.20, 3: 4.80},
    {'angol', 'francia', 'spanyol'}
);

SELECT * FROM STUDENT;

In [ ]:
MATCH (tom:Person)-[:ACTED_IN]->(m:Movie)<-[:ACTED_IN]-(coSzinesz:Person)
WHERE tom.name = 'Tom Hanks' AND coSzinesz.name <> 'Tom Hanks'
RETURN DISTINCT coSzinesz.name